sudo: required
language: node_js
node_js:
  - "8"

services:
  - docker

cache: yarn
install: yarn

before_script:
  # workaround as travis use ubuntu/trusty which has mysql
  - sudo /etc/init.d/mysql stop

script: 
  - yarn test
  - yarn link
  - cd ./tests
  - docker-compose up -d
  - ./wait_for_db.sh
  - docker exec sql-mariadb mysql -utest -ptest -e "show databases;"


